/*---------------
   RESET
---------------*/
* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

/*---------------
   BODY
---------------*/
body {
   font-size: 1.5rem;
   background-color: #083b4c;
}
h1 {
   font-size: 4rem;
   text-align: center; 
   margin: 50px; 
   color: white;
}
.container {
   max-width: 61.25rem;
   margin: auto;
}

/*---------------
   LISTATO
---------------*/
ul {
   list-style: none;
   display: flex;
   flex-wrap: wrap;
}
li {
   margin: 20px;
   height: 100px;
   width: 100px;
   text-align: center;
   line-height: 100px;
   background-color: #1389b2;
}
.fizz {
   background-color: #0cd6a1;
}
.buzz {
   background-color: #ffd166;
}
.fizzbuzz {
   background-color: #f0466f;
}